<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; vertex.pbvk &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>pbvk</string>
	<key>name</key>
	<string>Pixel Bender 3D Vertex Kernel</string>
	<key>uuid</key>
	<string>A14FC8A4-6F58-4C12-8513-9A01E76171D9</string>
</dict>
</plist>
